* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/*  Cabeçalho  */


.navbar-cabeçalho {
    display: flex;
    max-width: 100%;
    justify-content: flex-end;
    background-color: #173B45;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
    height: 80px;
    color: #FFf;
    
}

#menu {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 20px;
    margin-right: 20px;

}

#menu li a{
    font-size: 16px;
}


#logo {
   
    margin-left: 10px;
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    text-decoration: none;
    font-family:"Qwitcher Grypen" ;
   
}

.items-navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    
}


.items-navbar a {
    text-decoration: none;
    color: #FFF;
}

.btn-logar {
    text-transform: uppercase;
    font-weight: 600;
    color: #173B45;
    background-color: #ffc400;
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 7px;
    padding: 7px 15px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.btn-logar:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-registro {
    font-weight: 600;
    text-transform: uppercase;
    background-color: #ffc400;
    color: #173B45;
    border: rgba(128, 128, 128, 0.671);
    border-radius: 7px;
    padding: 7px 15px;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.btn-registro:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/*  MAIN PRODUTOS */

.mainreserch {
    flex: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.filtros-main ul {
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
    background-color: #ffffff;
    margin-top: 50px;
    padding: 5px;
    list-style: none;
    margin-right: 30px;
}
.filtros-main ul a{
    text-decoration: none;
    color: rgb(94, 89, 89);
    background-color: rgba(44, 43, 43, 0.082);
    padding: 6px;
    border-radius: 6px;
}

.filtros-main ul a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .3s;
}


.btn {
   color: rgba(44, 43, 43, 0.3);
   margin-right: 30em;
   background-color: #fff;
   padding: 5px 3em;
   border: 1px solid rgba(44, 43, 43, 0.3);
   border-radius: 20px;
}

.pesq{
    padding: 5px;
    border: none;
    outline: none;
}

.pesq:hover {
    border: none;
    background-color: white;
}


.filtros-main ul li button {
    border: none;
    background-color: #fff;
    color: rgba(44, 43, 43, 0.3);

}




 /* Filtro a Esquerda */
aside {
    padding: 0;
    margin: 0;
    display: flex;
}

.filter {
    display: flex;
    align-items: flex-start; 
    background-color: #fff;
    padding: 50px;
    border: 1px solid rgba(44, 43, 43, 0.3);
    margin-left: 8em;
    margin-top: 30%;
    margin-bottom: 50%;
    border-radius: 10px;
    
}



.filter ul li p {
    color: rgb(34, 34, 34);
    margin-left: 15px;
    font-size: 15px;
}

.boxtyles .caixa-escolha {
    font-size: 2px;
}

aside ul li {
    list-style: none;
    padding-top: 20px;
}



/* Card de Produtos   */

.produto {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
  
    
    text-align: center;
}

.card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 16px 30px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 15px;
    border: 1px solid rgba(44, 43, 43, 0.3);
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
}

.card-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

.card-description .box-parcelar {
    font-size: 15px;
    color: #00A650;
}

.card-description h2 {
    color: black;
    display: flex;
    justify-content: flex-start;
}


.produto p {
    /*font-family: "New Amsterdam", sans-serif; */
    font-weight: 200;
    color: #000000;
    text-align: left;
    font-size: 17px;
}

.produto h2 {
   /* font-family: "New Amsterdam", sans-serif; */
    font-family: "Roboto";
    font-weight: 500;
    padding-top: 5px;
    font-size: 20px;
}

.card-description {
    padding: 20px 10px;
}

.card-description .indicado-1 {
    color: #fff;
    background-color: #173B45;
    border: 1px solid #173B45;
    margin-right: 4px;
    border-radius: 8px;
    font-size: 15px;
    padding: 2px;
}

.card-description h2 i {
    margin-left: 40px;
}
/* Rodapé */

footer {
    
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(44, 43, 43, 0.3);
    padding: 30px;
    background-color: #373A40;

}

footer h3 {
    font-weight: bolder;
    padding-bottom: 15px;
    color: #FFF;
    text-transform: uppercase;
}

footer ul li {
    list-style: none;
    padding: 4px;
    color: #fff;
    
}

.btn-footer {
    padding: 15px;
    border: 1px solid rgb(29, 28, 28);
    color: rgb(29, 28, 28);
    margin-left: 4em;
    border-radius: 20px;
    
}

.footer-social ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

@media (max-width: 1200px) {
    .card {
        width: 31%;
    }

    aside {
        display: none;
    }
    .pesq {
        flex: 1;
        padding: 10px;
        margin-right: 0; 
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 200px;
    }

    .btn button {
        padding: 10px 20px; 
        font-size: 16px; 
    }
    
    .btn button i {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    /* Ajustes para tablets e acima */
    .navbar-cabeçalho {
        flex-direction: row;
        justify-content: space-between;
    }

    

    #menu {
        flex-direction: row;
        gap: 20px;
    }

    .main-content {
        flex-direction: row;
    }

    .filter {
        width: 25%;
        margin-left: 2em;
    }

    .produto {
        flex-direction: row;
        flex-wrap: wrap;
    }


    .pesq {
        flex: 1;
        padding: 10px;
        margin-right: 0; 
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 200px;
    }

    .btn button {
        padding: 10px 20px; 
        font-size: 16px; 
    }
    
    .btn button i {
        font-size: 20px;
    }
   

    footer {
        flex-direction: row;
        text-align: left;
    }
}

@media (max-width: 768px){
    .navbar-cabeçalho {
        flex-direction: column;
        align-items: center;
        height: auto;

        
    }

    aside {
        display: none;
    }

    #menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 0;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }


    .mainreserch {
        width: 100%;
        padding-left: 0;
    }

    .produto {
        max-width: 100%;
        flex-direction: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .card {
        width: 100%;
        max-width: 200px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-social ul {
        justify-content: center;
    }

    .filtros-main ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .filtros-main li {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .pesq {
        flex: 1;
        padding: 10px;
        margin-right: 0; 
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 200px;
    }

    .btn button {
        padding: 10px 20px; 
        font-size: 16px; 
    }
    
    .btn button i {
        font-size: 20px;
    }

}

@media (max-width: 480px) {
    #logo {
        font-size: 50px;
    }

    .navbar-cabeçalho {
        padding: 10px;
    }

    
    .produto {
        flex-direction: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .card {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    aside {
        display: none;
    }

    footer {
        padding: 20px;
    }

    .footer-social ul {
        flex-direction: row;
        gap: 10px;
        align-items: center;

    }

    .pesq {
        flex: 1;
        padding: 10px;
        margin-right: 0; 
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 200px;
    }

    .btn button {
        padding: 10px 20px; 
        font-size: 16px; 
    }
    
    .btn button i {
        font-size: 20px;
    }

    .btn-footer {
        display: block;
        margin: 0px auto;
        padding: 10px 10px;
        font-size: 14px;
    }

   footer {
    line-height:25px;
   }
}